:root {
/* nord color theme */
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

body {
  background-color: var(--nord6);
  font-family:
  "M PLUS Rounded 1c",
  "ui-monospace",
  'JetBrains Mono',
  "Menlo",
  "Monaco",
  "Cascadia Mono",
  "Segoe UI Mono",
  "Roboto Mono",
  "Oxygen Mono",
  "Ubuntu Monospace",
  "Source Code Pro",
  "Fira Mono",
  "Droid Sans Mono",
  "Courier New",
  "monospace";
  font-size: 1.125em;
  color: var(--nord1);
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  margin: 0px;
  padding: 0.5em;
  background-color: var(--nord5);
  border-bottom: 1px solid var(--nord4);

  a {
    font-size: 1.2em;
    margin: 0 0.4em;
    margin-left: 0;
    padding: 0.15em 0.5em;
    border-radius: 0.25rem;
    text-decoration: none;
  }

  a:link {
    color: var(--nord2);
  }
  a:visited {
    color: var(--nord2);
  }
  a:hover {
    background-color: var(--nord4);
  }
}

@media (min-width: 1280px) {
  main {
    margin: 0 20%;
  }
}

@media (max-width: 1279px) {
  main {
    margin: 0 10px;
  }
}

main {
  flex-grow: 1;
  a {
    text-decoration: none;
  }
  div.home {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em auto auto auto;
  }
  div.post {
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em auto auto auto;
  }

  div.post-list {
    width: 760px;
    margin: 1em auto auto auto;
    display: flex;
    flex-direction: column;
    span {
      font-size: 0.85em;
    }
  }

  div.post-link {
    margin-top: 0.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  a:link {
    color: var(--nord10);
  }
  a:visited {
    color: var(--nord10);
  }
  a:hover {
    color: var(--nord8);
    text-decoration: underline;
  }
}


footer {
  margin: 0px;
  padding: 0.5em;
  text-align: center;
  p {
    font-size: 0.75em;
    color: var(--nord3);
    margin: 0px;
    a {
      text-decoration: none;
    }
    a:link {
      color: var(--nord10);
    }
    a:visited {
      color: var(--nord10);
    }
  }
}
